<!-- Import jQuery -->
<!-- <script type="text/javascript" src="{{ "/assets/jquery.js" | prepend: site.baseurl }}"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ "/assets/linkify.min.js"| prepend: site.baseurl }}"></script>
<script src="{{ "/assets/linkify-jquery.min.js"| prepend: site.baseurl }}"></script>

<script type="text/javascript">
$('div.references').linkify();

// moment(moment(modifiedDate).format('YYYYMMDD')).fromNow();
$('.algolia-modified a').map(
  function(){
    var modifiedDate = $(this).text();
    console.log(modifiedDate);
    $(this).text(moment(moment(modifiedDate).format('YYYYMMDD')).fromNow());
  }
);
</script>

<!-- Script which renders TeX using tex.s2cms.ru -->
<script src="//tex.s2cms.ru/latex.js"></script>
<script type="text/javascript">
 $("script[type='math/tex']").replaceWith(
     function(){
         var tex = $(this).text();
         return "&zwnj;$$" + tex + "$$&zwnj;";
     });
 $("script[type='math/tex; mode=display']").replaceWith(
     function(){
         var tex = $(this).text().replace(/%.*?(\n|$)/g,"");
         return "<p class=\"equation\">" +
                 "$$" + tex + "$$" +
                "</p>";
     });
</script>
<script type="text/javascript">
WebFontConfig = {
 google: { families: [ 'PT+Serif:400,700,400italic:latin', 'PT+Sans:400:latin' ] }
};
(function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
   })(document);
</script>
