<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.use_site_title %}
      {{ site.title }}
    {% else %}
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
        {{ site.title }} {{ site.tagline }}
    {% endif %}
  </title>
  {%- seo title=false -%}
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  {% if page.latex %}
  <link rel="preload" as="script" href="{{site.baseurl}}/assets/js/latex.js" >
  {% endif %}
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114360791-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114360791-1');
  </script>

  {% if page.title contains "Timeline" %}
  <!-- TIMELINE -->
  <script src="{{ site.baseurl }}/assets/js/timeline.js"></script>
  {% endif %}
</head>
