.toc{
  background: aliceblue;
  float: right;
  position: fixed;
  // width: 300px;
  top: 5px;
  right: 9px;
  margin: 0 auto;
  padding: 10px;

  margin-right: 10px;
  height: auto;
  font-size: 0.88em;
  overflow: scroll;
  height: -webkit-fill-available;
  padding-left: 2em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
  ul {
    padding-left: 8px;
    margin-bottom: 0px;
  }

}

@media all and (max-width:77em){
  .toc {
    display: none;
  }
}

.toc .table-of-contents {
  font-size: 16px;
}

.toc a
{
  color: darken(#6D508B, 30%);
  &:hover {
     color: darken(#6D508B, 50%);
   }
}
